@font-face { font-family: carmelit; src: url(/static/fonts/carmelitregular.woff); }
@font-face { font-family: carmelit; src: url(/static/fonts/carmelitbold.woff); font-weight: bold; }
@font-face { font-family: arimo; src: url(/static/fonts/Arimo-Regular.ttf); }
@font-face { font-family: arimo; src: url(/static/fonts/Arimo-Bold.ttf); font-weight: bold; }
.left{ float: left;}
.center{ text-align: center;}
.bold{font-weight: bold;}
.underline{ text-decoration: underline;}
.inline-block{ display: inline-block;}
.info{  font-size: 16px; color: grey;}
.red{color:#C44536;}
.green{color:#5cb85c;}
.pointer{cursor: pointer;}
.invisible{opacity: 0;}
.no-decoration{ text-decoration: none;}
.spin-parent{
    .spin {
        @include transition(transform);
        @include rotate(0deg);
    }
    &:hover {
        .spin{
            @include rotate(360deg);
        }
    }
}