:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

nav, footer {
  background-color: #2D828D;
  color: #fff;
  text-align: center;
  font-weight: bold; }
  nav li, footer li {
    float: none;
    display: inline-block;
    list-style: none; }
    nav li a, footer li a {
      color: #fff;
      margin: 15px 25px;
      letter-spacing: 1px;
      font-weight: 400;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
      font-size: 1.35em;
      display: inline-block;
      -webkit-perspective: 1000px;
      -moz-perspective: 1000px;
      perspective: 1000px; }
      nav li a:hover span, footer li a:hover span {
        color: white;
        -webkit-transform: rotateX(90deg) translateY(-22px);
        -moz-transform: rotateX(90deg) translateY(-22px);
        transform: rotateX(90deg) translateY(-22px); }
      nav li a span, footer li a span {
        font-size: 37px;
        position: relative;
        display: inline-block;
        padding: 0 25px;
        background: #19B4AA;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d; }
        nav li a span::before, footer li a span::before {
          background: #FF7900;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          content: attr(data-hover);
          -webkit-transition: background 0.3s ease;
          -moz-transition: background 0.3s ease;
          -ms-transition: background 0.3s ease;
          -o-transition: background 0.3s ease;
          transition: background 0.3s ease;
          -webkit-transform: rotateX(-90deg);
          -moz-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
          -webkit-transform-origin: 50% 0;
          -moz-transform-origin: 50% 0;
          transform-origin: 50% 0; }

#cool_form .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 2em 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top; }
#cool_form .input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */ }
#cool_form .input__field:focus {
  outline: none; }
#cool_form .input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
#cool_form .input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%; }
#cool_form .graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none; }
#cool_form .input__field--yoshiko {
  width: 100%;
  background-color: #d0d1d0;
  border: 2px solid transparent;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s; }
#cool_form .input__label--yoshiko {
  width: 100%;
  text-align: left;
  position: absolute;
  bottom: 63%;
  pointer-events: none;
  overflow: hidden;
  padding: 0 1.25em;
  -webkit-transform: translate3d(0, 3em, 0);
  transform: translate3d(0, 3em, 0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }
#cool_form .input__label-content--yoshiko {
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 22px;
  color: #8B8C8B;
  padding: 0.25em 0;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }
#cool_form .input__label-content--yoshiko::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  bottom: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #a3d39c;
  padding: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em; }
#cool_form .input__field--yoshiko:focus + .input__label--yoshiko,
#cool_form .input--filled .input__label--yoshiko {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
#cool_form .input__field--yoshiko:focus + .input__label--yoshiko .input__label-content--yoshiko,
#cool_form .input--filled .input__label-content--yoshiko {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }
#cool_form .input__field--yoshiko:focus + .input__field--yoshiko,
#cool_form .input--filled .input__field--yoshiko {
  background-color: transparent;
  border-color: #a3d39c; }
#cool_form .btn {
  margin: 20px;
  font-size: 23px; }
#cool_form .alert {
  font-size: 23px; }

/* global variables */
@font-face {
  font-family: carmelit;
  src: url(/static/fonts/carmelitregular.woff); }
@font-face {
  font-family: carmelit;
  src: url(/static/fonts/carmelitbold.woff);
  font-weight: bold; }
@font-face {
  font-family: arimo;
  src: url(/static/fonts/Arimo-Regular.ttf); }
@font-face {
  font-family: arimo;
  src: url(/static/fonts/Arimo-Bold.ttf);
  font-weight: bold; }
.left {
  float: left; }

.center {
  text-align: center; }

.bold {
  font-weight: bold; }

.underline {
  text-decoration: underline; }

.inline-block {
  display: inline-block; }

.info {
  font-size: 16px;
  color: grey; }

.red {
  color: #C44536; }

.green {
  color: #5cb85c; }

.pointer {
  cursor: pointer; }

.invisible {
  opacity: 0; }

.no-decoration {
  text-decoration: none; }

.spin-parent .spin {
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }
.spin-parent:hover .spin {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg); }

body {
  margin: 0;
  font-family: Raleway; }

h1, h2 {
  font-family: arimo; }

p {
  font-size: 1.6rem; }

a:hover {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
