:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav,footer {
    background-color: #2D828D;
    color: #fff;
    text-align: center;
    font-weight: bold;
    li {
        float: none;
        display: inline-block;
        list-style: none;
        a {
            color: #fff;
            margin: 15px 25px;
            letter-spacing: 1px;
            font-weight: 400;
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
            font-size: 1.35em;
            display: inline-block;
            -webkit-perspective: 1000px;
            -moz-perspective: 1000px;
            perspective: 1000px;
            &:hover span {
                color: white;
                -webkit-transform: rotateX(90deg) translateY(-22px);
                -moz-transform: rotateX(90deg) translateY(-22px);
                transform: rotateX(90deg) translateY(-22px);
            }
            span {
                font-size: 37px;
                position: relative;
                display: inline-block;
                padding: 0 25px;
                background: #19B4AA;
                @include border-radius(4px);
                @include transition(all, 0.3s);
                -webkit-transform-origin: 50% 0;
                -moz-transform-origin: 50% 0;
                transform-origin: 50% 0;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                transform-style: preserve-3d;
                &::before {
                    background: #FF7900;
                    @include border-radius(4px);
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: attr(data-hover);
                    @include transition(background,0.3s);
                    -webkit-transform: rotateX(-90deg);
                    -moz-transform: rotateX(-90deg);
                    transform: rotateX(-90deg);
                    -webkit-transform-origin: 50% 0;
                    -moz-transform-origin: 50% 0;
                    transform-origin: 50% 0;
                }
            }
        }
    }
}
