$site-main-color: #2D828D;
$site-secondary-color: #19B4AA;
$nav-active-color: #FF7900;
$nav-bg-color: $site-main-color;
$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;