{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Django chatter - come burn time!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/faa.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
{% block extra_head %}
{% endblock %}
</head>
<body>
  <div id="base" class="container">
	<nav class="row">
		<ul class=" col-md-12">
            <li>
                <a href="https://bitbucket.org/cyber778/chatsite">
                    <span data-hover="On Bitbucket">Project Rposotory</span>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">
                    <span data-hover="Bye!">Logout</span>
                </a>
            </li>
            {% endif %}
        </ul>
	</nav>
  <div id="wrapper">
{% block body %}
{% endblock %}
  </div>
	<footer class="row">
		<section class="col-md-12">
            <ul class="list-unstyled">
                <li>
                    <p>Beta Version</p>
                </li>
            </ul>
		</section>
	</footer>
  </div>

  {% csrf_token %}
  <script src="{% static 'js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
{% block extra_body %}

{% endblock %}

<script type="text/javascript">
$(document).ready(function(){



    {% block jquery_ready %}

    {% endblock %}
});
</script>
</body>
</html>