<h1 class="center">Sigup Or Login</h1>
<article class="center">
    <span>
        *if this is your first time than insert a username and passwor and an account will be created for you
    </span>
</article>
<form id="cool_form" class="row center" action="">
    <article class="col-md-6">
        <!-- inspired by tympanus -->
        <span class="input input--yoshiko">
            <input class="input__field input__field--yoshiko" type="text" id="name">
            <label class="input__label input__label--yoshiko" for="name">
                <span class="input__label-content input__label-content--yoshiko" data-content="Be Creative!">Username</span>
            </label>
        </span>
    </article>
    <article class="col-md-6">
        <!-- inspired by tympanus -->
        <span class="input input--yoshiko">
            <input class="input__field input__field--yoshiko" type="text" id="pass">
            <label class="input__label input__label--yoshiko" for="pass">
                <span class="input__label-content input__label-content--yoshiko" data-content="Hush Hush">Password</span>
            </label>
        </span>
    </article>
    <article class="col-md-12">
        <a href="#" id="start_chat" class="faa-parent animated-hover btn-large btn btn-success">
            Start Chat!
            <i class="fa fa-play faa-horizontal"></i>
        </a>
    </article>
</form>